
body
  background-image: url('images/dirty_old_shirt.png')

.content
  width: 940px
  text-align: center
  position: absolute
  left: 50%
  margin-left: -480px

  .header
    width: 100%
    height: 363px
    background-image: url('images/thechoice-banner.png')
    background-repeat: no-repeat
    color: #eee

    .title
      font-family: 'Raleway'
      font-weight: 700
      font-size: 84px
      padding-top: 130px

  .spacer
    height: 20px

  .tagline
    color: #888
    font-family: 'Raleway'
    font-size: 24px

  .hr
    margin-top: 20px
    margin-bottom: 20px
    width: 100%
    height: 1px
    background: #444

  a
    color: white
    text-decoration: none
    -webkit-transition: color linear 0.2s
    -moz-transition: color linear 0.2s
    -ms-transition: color linear 0.2s
    transition: color linear 0.2s

    &:hover
      color: #bbb

  ul.links
    list-style-type: none

    li
      font-family: 'Raleway'
      display: inline-block
      padding-left: 10px
      padding-right: 10px
      font-weight: 100
      font-size: 24px

  .play
    font-family: 'Raleway'
    color: white
    text-decoration: none
    font-size: 36px
    font-weight: 100

