
%title The Choice | Do not delude yourself.

%link{:href => 'main.min.css?v1', :rel => 'stylesheet'}
%link{:href => 'http://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Raleway:100,700', :rel => 'stylesheet'}

.content

  .spacer
  .spacer

  .tagline
    Do not delude yourself. You are far from done with this evaluation.

  .hr

  .header
    .title The Choice

  %a.play{:href => '/play/'} Play Episode 1

  .spacer
  .spacer
  .spacer

  .hr

  %ul.links
    %li
      %a{:href => '/press/'} Press
    %li
      %a{:href => 'http://www.desura.com/games/the-choice'} Desura
    %li
      %a{:href => 'https://twitter.com/TheChoice_Game'} Twitter
    %li
      %a{:href => 'https://www.facebook.com/TheChoiceGame'} Facebook
    %li
      %a{:href => 'https://plus.google.com/100796100284483175811/posts'} Google+

:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41413003-1', 'thechoice-game.com');
  ga('send', 'pageview');
