
%title The Choice | Press

%link{:href => '/press.css', :rel => 'stylesheet'}
%script{:src => '/play/jquery.js'}
%script{:src => '/press.js'}

/ Page start
#container
  / Navigation start
  #navigation
    %p/
    %h1#game-title The Choice
    %strong
      %a{:href => "#", :target => "_self"} press kit
    %br/
    %ul
      %li
        %a#m-factsheet{:href => "#factsheet", :target => "_self"} Factsheet
      %li
        %a#m-description{:href => "#description", :target => "_self"} Description
      %li
        %a#m-history{:href => "#history", :target => "_self"} History
      %li
        %a#m-features{:href => "#features", :target => "_self"} Features
      %li
        %a#m-trailers{:href => "#trailers", :target => "_self"} Videos
      %li
        %a#m-screenshots{:href => "#screenshots", :target => "_self"} Screenshots
      %li
        %a#m-logo{:href => "#logo", :target => "_self"} Logo & Icon
      %li
        %a#m-awards{:href => "#awards", :target => "_self"} Awards & Recognition
      %li
        %a#m-quotes{:href => "#quotes", :target => "_self"} Selected Articles
      %li
        %a#m-links{:href => "#links", :target => "_self"} Additional Links
      %li
        %a#m-about{:href => "#about", :target => "_self"} About Amos Wenger
      %li
        %a#m-credits{:href => "#credits", :target => "_self"} Credits
      %li
        %a#m-contact{:href => "#contact", :target => "_self"} Contact
  #content
    / Header
    %img#header{:src => "/images/banner-title.png"}/
    / Factsheet start
    #factsheet
      %h2 Factsheet
      / Developer information
      %p
        %strong Developer:
        %br/
        %a{:href => "https://amos.me/"} Amos Wenger
        %br/
        Based in Lausanne, Switzerland
        %br/
      / Release date
      %p
        %strong Release date:
        %br/
        Q4 2013
        %br/
      / Platforms
      %p
        %strong Platforms:
        %br/
        %a{:href => "http://desura.com/games/the-choice"} PC / Mac
        %br/
      / Website
      %p
        %strong Website:
        %br/
        %a{:href => "http://thechoice-game.com/"} thechoice-game.com/
        %br/
      / Pricing
      %p
        %strong Regular Price:
        %br/
      %table
        %tr
          %td TBD
    #right-of-factsheet
      / Description start
      #description
        %h2 Description
        The Choice is an enigma/coding RPG, sending the unexpecting player into an intricate maze of programming challenges that could mean the difference between life and death. This three-episode adventure is set in a semi-realistic modern world the government would rather have you quietly watch television rather than dwelve into the realms of society's arcanes...
      / History start
      #history
        %h2 History
        The Choice's first episode was created for One Game A Month (http://onegameamonth.com/) and was released online as a free to play. The two next episodes are still in development at the time of this writing.
      / Features start
      #features
        %h2 Features
        %ul
          %li Dramatic narrative centered around semi-realistic world turmoil.
          %li 3 episodes, numerous riddles and programming challenges.
          %li Original soundtrack by Amos Wenger.
          %li Synthetic voices.
          %li Human voices.
    / Clear
    .clear
      / Trailers start
      #trailers
        %h2 Videos
        %p
          There are currently no videos available for The Choice. Check back later for more or
          %a{:href => "#contact", :target => "_self"} contact us
          for specific requests!
          / %a{:href => "http://www.youtube.com/nddrylliogOnCrack"} YouTube
          / %iframe{:allowfullscreen => "", :frameborder => "0", :height => "396", :src => "http://www.youtube.com/embed/PfOc-M7UTmA", :width => "720"}
      / Clear
      .clear
        / Screenshots start
        #screenshots
          %h2 Screenshots
          %a{:href => "/images/preview.png"}
            .preview-wrapper
              %img.preview{:alt => "/images/preview.png", :src => "/images/preview.png"}/
        / Clear
        .clear
          / Logo start
          #logo
            %h2 Logo & Icon
            %p
              There are currently no logos or icons available for The Choice. Check back later for more or
              %a{:href => "#contact", :target => "_self"} contact us
              for specific requests!
          / Clear
          .clear
            / Award start
            #awards
              %h2 Awards & Recognition
              %ul
              %p The Choice has not received any awards or recognitions yet. Please check back later to see if things change.
            / Clear
            .clear
              / Quote start
              #quotes
                %h2 Selected Tweets
                %ul
                %ul
                  %li
                    "Started playing The Choice by @nddrylliog. Reached a locked door, put it into an infinite loop. Who's laughing now!"
                    %br/
                    %cite
                      \- Colin Northway,
                      %a{:href => "https://twitter.com/ColinNorthway/status/340578482583126016"} Twitter
                  %li
                    "The Choice by @nddrylliog will either get you coding or kill you trying. In the narrative context, not literally."
                    %br/
                    %cite
                      \- Corey Foster,
                      %a{:href => "https://twitter.com/ShotupSpeako/status/340561118823055360"} Twitter
                  %li
                    "If you liked William Gibson's Neuromancer, you should play The Choice, a programming game by @nddrylliog"
                    %br/
                    %cite
                      \- Romain Ruetschi,
                      %a{:href => "https://twitter.com/_romac/status/340373555806105600"} Twitter
              / Clear
              .clear
                / Request Preview Copy
                / Links
                #links
                  %h2 Additional Links
                  %p
                    %strong Original Soundtrack
                    Available soon!
                / Clear
                .clear
                  / About
                  #about
                    %h2 About Amos Wenger
                    %p
                      %strong Boilerplate
                      %br/
                      Amos Wenger is a half Swiss, half French independent game developer. He also likes to compose and arrange video game soundtracks, and bother other indie folks until they get involved with his projects.
                    %p
                      %strong More information
                      %br/
                      More information on Amos Wenger are available
                      = succeed "." do
                        %a{:href => "https://amos.me/"} here
                  / Clear
                  .clear
                    / Credits
                    #credits
                      %h2 The Choice Credits
                      %p
                        %strong Amos Wenger
                        = succeed "Design, Music" do
                          %br/
                        \& Programming
                      %p
                        %strong Nico Uusitalo
                        %br/
                        %a{:href => "http://www.youtube.com/ThisIsSnaik"} Voice Acting, The Narrator
                    / Contact
                    / Contact
                    #contact
                      %h2 Contact
                      %p
                        %strong Inquiries
                        %br/
                        %a{:href => "mailto:amos@lockfree.ch"} amos@lockfree.ch
                      %p
                        %strong Twitter
                        %br/
                        %a{:href => "http://www.twitter.com/TheChoice_Game"} twitter.com/TheChoice_Game
                      %p
                        %strong Facebook
                        %br/
                        %a{:href => "https://www.facebook.com/TheChoiceGame"} facebook.com/TheChoiceGame
                      %p
                        %strong Google+
                        %br/
                        %a{:href => "https://plus.google.com/100796100284483175811/posts"} plus.google.com/...
                    / Clear
                    .clear
                      %p.credits
                        %a{:href => "http://dopresskit.com/"} presskit()
                        by Rami Ismail (
                        %a{:href => "http://www.vlambeer.com/"}> Vlambeer
                        ) - also thanks to
                        %a{:href => "http://dopresskit.com/#thanks"} these fine folks

:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41413003-1', 'thechoice-game.com');
  ga('send', 'pageview');

